{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {{ with .Site.Params.about.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                {{ if and .Site.Params.about.headline .Site.Params.about.description }}
                    <hr class="light">
                {{ end }}
                {{ with .Site.Params.about.description }}
                    <p class="text-faded">{{ . | markdownify }}</p>
                {{ end }}
                <a href="{{ with .Site.Params.about.buttonLink }}{{ . }}{{ else }}#{{end}}" class="btn btn-default btn-xl page-scroll">
                    {{ with .Site.Params.about.buttonText }}
                        {{ . }}
                    {{ end }}
                </a>
            </div>
        </div>
    </div>
</section>
