{{ "<!-- CONTACT -->" | safeHTML }}
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {{ with .Site.Params.contact.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                {{ if and .Site.Params.contact.headline .Site.Params.contact.description }}
                    <hr class="primary">
                {{ end }}
                {{ with .Site.Params.contact.description }}
                    <p>{{ . | markdownify }}</p>
                {{ end }}
            </div>
            {{ if .Site.Params.contact.email }}
                <div class="col-lg-6 col-lg-offset-3 col-med-8 col-med-offset-2 text-center">
                    <form name="contact" class="contact-form" method="POST" action="https://formspree.io/{{ .Site.Params.contact.email }}">
                        <input name="full_name" id="full_name" placeholder="Full Name">
                        <input name="email" id="email" placeholder="Email Address">
                        <textarea name="message" id="message" placeholder="Your Message" rows="6"></textarea>
                        <button type="submit" class="btn btn-primary btn-lg">Send Message</button>
                    </form>
                </div>
            {{ end }}
            <div class="container" style="clear: both; padding-top:2rem">
            {{ range .Site.Params.contact.links }}
                <div class="col-sm-6 text-center">
                        <i class="fa fa-{{ .icon }} fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                        <p><a href="{{ .url }}">{{ .display }}</a></p>
                </div>
            {{ end }}
            </div>
        </div>
    </div>
</section>
