{{ "<!-- Portfolio Modals -->" | safeHTML }}
{{ range .Site.Data.projects }}
<div class="portfolio-modal modal fade" id="portfolioModal{{ .modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        {{ with .title }}
                            <h2>{{ . }}</h2>
                        {{ end }}
                        {{ if and .title .description }}
                            <hr class="star-primary">
                        {{ end }}
                        <a href="{{ with .clientLink }}{{ . }}{{ else }}#{{ end }}" target="_blank" rel="noopener noreferrer">
                            <img src="img/portfolio/{{ .img }}" class="img-responsive img-centered" alt="">
                        </a>
                        {{ with .description }}
                            <p>{{ . | markdownify }}</p>
                        {{ end }}
                        {{ if or .client .date .category }}
                            <ul class="list-inline item-details">
                                {{ if .client }}
                                    <li>{{ with $.Site.Params.portfolio.modal.client }}{{.}}: {{ end }}
                                        <strong><a href="{{ with .clientLink }}{{ . }}{{ else }}#{{ end }}" target="_blank" rel="noopener noreferrer">{{ .client }}</a></strong>
                                    </li>
                                {{ end }}
                                {{ if .date }}
                                    <li>{{ with $.Site.Params.portfolio.modal.date }}{{.}}: {{ end }}
                                        <strong><a href="#">{{ .date }}</a></strong>
                                    </li>
                                {{ end }}
                                {{ if .category }}
                                    <li>{{ with $.Site.Params.portfolio.modal.category }}{{.}}: {{ end }}
                                        <strong><a href="#">{{ .category }}</a></strong>
                                    </li>
                                {{ end }}
                            </ul>
                        {{ end }}
                        {{ with $.Site.Params.portfolio.modal.buttonText }}
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>{{.}}</button>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
