<section class="no-padding" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {{ with .Site.Params.portfolio.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            {{ range .Site.Data.projects }}
                <div class="col-lg-4 col-sm-6">
                    <a href="#portfolioModal{{ .modalID }}" class="portfolio-box portfolio-link" data-toggle="modal">
                        <img src="img/portfolio/{{ .img }}" class="img-responsive" alt="">
                        {{ if and .category .title }}
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    {{ with .category }}
                                        <div class="project-category text-faded">
                                            {{ . }}
                                        </div>
                                    {{ end }}
                                    {{ with .title }}
                                        <div class="project-name">
                                            {{ . }}
                                        </div>
                                    {{ end }}
                                </div>
                            </div>
                        {{ end }}
                    </a>
                </div>
            {{ end }}
        </div>
    </div>
</section>
